{{> navBar this}}

{{> header this}}

{{> messages this}}

<main>
    <div class="container mt-5 mb-5">
        <div class="d-flex flex-row justify-content-center mt-5 mb-5">
            <h2 class="display-2">Page not found!</h2>
        </div>
    </div>
</main>

{{> footer this}}