<header>
    <p>Sample</p>
    <div class="jumbotron rounded-0 bg-primary text-light" id="header">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="display-3">Book &amp; Roll</h1>
            <p>This Web Site presents a fictional catalogue and shopping cart for the Book &amp; Roll company</p>
        </div>
        </div>
    </div>
    </div>
</header>